<div class="row">
    <div class="col-9">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @tracked_stocks.each do |stock| %>
                    <tr>
                        <td scope="row">
                            <%= stock.ticker %>
                                </th>
                        <td scope="row">
                            <%= stock.name %>
                        </td>
                        <td scope="row">
                            <%= stock.last_price %>
                        </td>
                        <td scope="row">Actions</td>
                    </tr>
                    <% end %>
            </tbody>
        </table>
    </div>
</div>
