<% if notice %>
    <div class="alert alert-success">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
            <li>
                <%= notice %>
            </li>
        </ul>
    </div>
<% end %>

<% if alert %>
    <div class="alert alert-danger">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
            <li>
                <%= alert %>
            </li>
        </ul>
    </div>
<% end %>
<% flash.clear %>